html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #eaebe6;
  color: #1a2e33;
}

.center {
  padding: 10px;
}

a:link,
a:visited {
  color: #1a2e33;
}

a:hover {
  background: #1a2e33;
  color: #eaebe6;
}
